@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Course Management</h1>
        <p>
            @Html.ActionLink("Przejdź do kursów", "Index", "Courses", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </section>
</main>